<p class="project">

  <table class="showTable">
      <tbody>
          <tr>
            <th>Title</th>
              <td>{{title}}</td>
          </tr>
          <tr>
            <th>Genre</th>
              <td>{{genre}}</td>
          <tr>
            <th>Voice Artist</th>
              <td>{{voice_artist_string}}</td>
          <tr>
            <th>Site</th>
              <td>{{site}}</td>
          <tr>
            <th>RSS</th>
              <td>{{rss}}</td>
          <tr>
            <th>#Episodes</th>
            <td>{{episodes}}</td>
          <tr>
            <th>Release Date</th>
            <td>{{release_date}}</td>
          <tr>
            <th>Description</th>
            	<td>{{description}}</td>
          </tr>
      </tbody>
  </table>
  <button class="btn btn-info btn-xs update-show" data-toggle="modal"
data-target="#updateShowModal" data-show-id= {{id}}>Edit Title
</button>
  <button class="btn btn-info btn-xs delete-show" data-toggle="modal"
  data-target="#deleteShowModal" data-show-id= {{id}}>Delete</button>

</p>
