<p class="project">
  <!-- Project #{{id}}:  {{title}} -->

  {{title}}

  <button class="optionsbtn btn-xs update-show" data-toggle="modal" data-target="#updateShowModal" data-show-id= {{id}}>Edit Title</button>
  <button class="deletebtn btn-xs delete-show" data-toggle="modal" data-target="#deleteShowModal" data-show-id= {{id}}>Delete</button>


</p>
